<td>{{id}}</td>
<td class="">{{email}}</td>
<td class="">{{name}}</td>
<td class="">{{created_at}}</td>
<td class="">{{gender}}</td>
<td class="">{{points}}</td>
<td class="">{{role}}</td>
<td class="">{{updated_at}}</td>
<td class=""><a class="btn btn-default edit" href="#" role="button">Modifier</a></td>
<td class=""><a class="btn btn-default btn-danger delete" href="#" role="button">Supprimer</a></td>
