<span class="attr">{{email}}</span>
<span class="attr">{{name}}</span>
<span class="attr">{{created_at}}</span>
<span class="attr">{{gender}}</span>
<span class="attr">{{points}}</span>
<span class="attr">{{role}}</span>
<span class="attr">{{updated_at}}</span>
<span class="attr"><a class="btn btn-default edit" href="#" role="button">Modifier</a></span>
<span class="attr"><a class="btn btn-default btn-danger delete" href="#" role="button">Supprimer</a></span>