{{! users-tempate.hbs }}
<!-- Tableau des users -->

<td>{{ name }}</td>
<td>{{ firstname }}</td>
<td>{{ lastname }}</td>
<td>{{ email }}</td>
<td>{{ gender }}</td>
<td>{{ created_at }}</td>
<td>{{ role_id }}</td>